body{
    background-color: rgb(116, 92, 60);
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
    color: black;
    font-size: large
    ;
}
img {
    border: 2px solid black;
    padding: 3px;
    margin: 5px;
}
iframe{
    border: 2px solid black;
    padding: 3px;
    margin: 5px;
}